*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, rgb(109, 50, 124), rgb(72, 93, 166), rgb(0, 161, 186), rgb(1, 177, 142), rgb(50, 179, 123));
    background-size: cover;
    background-position: top;
}

// Ensure SVG icons are responsive
svg {
  height: 100%;
}