body {
    font-family: 'Poppins', sans-serif;
    color: #333;
  }

.header-white {
  color: #fff;
}

.header-primary {
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  line-height: 1.3;
  font-weight: bold;
}

.header-tertiary {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.6;
  letter-spacing: 0.6px;
}

.header-four {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.6px;
}

