.border {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.25);
    margin-top: 4rem;
}

.flex-fill {
    flex: 1;
}

.ctag {
    background-color: #4579f0;
    padding: 0.5rem 2.5rem;
    letter-spacing: 0.5px;
    border-radius: 2.5rem;
    // box-shadow: 0 1rem 2rem rgba(#000, 0.4);
}