.border {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.25);
}

.mt-small {
    margin-top: 2rem;
}

.mt-medium {
    margin-top: 4rem;
}

.mt-large {
    margin-top: 6rem;
}

.mb-small {
    margin-bottom: 2rem;
}

.mb-medium {
    margin-bottom: 4rem;
}

.flex-fill {
    flex: 1;
}

.ctag {
    background-color: #4579f0;
    padding: 0.5rem 2.5rem;
    letter-spacing: 0.5px;
    border-radius: 2.5rem;
}

.relative {
    position: relative;
}


.underline-header--left {
    &:before,
    &:after {
          left: 0;
        }
}

.underline-header {
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.5s;
      opacity: 0;
      background-color: darken(#4579f0,5%);
    }

    &:hover {
        cursor: pointer;
        &:before,
        &:after {
        width: 100%;
        opacity: 1;
        }
        
      }

}