.latest-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.latest-article {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__link {
        display: inline-block;
        height: 8rem;
        width: 8rem;
        min-height: 8rem;
        border-radius: 50%;
        background-size: 'cover';
        background-position: 'center';
    }
}