.post {
    background-color: #fff;
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba($color-darkest-gray, 0.15);

    &__tags {
        position: absolute;
        top: -15px;
        text-align: center;
        width: 100%;
    }

    &__header {
        flex: 0 0 45%;

        &-image {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            overflow: hidden;
            height: 100%;
        }

        &-image-link, &-image-link > * {

            height: 100%;
            display: block;
            
        }
    }

    &__body {
        padding: 1.5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-published {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;
        }

        
        &-title {
            font-family: Montserrat, sans-serif;
            font-size: 2.2rem;
            margin-bottom: 1rem;
            line-height: 1.35;
            cursor: pointer;
        }

        &-excerpt {
            margin-bottom: 4rem;
            font-size: 1.5rem;
            color: inherit;
        }
    }

    &__footer {
        border-top: 2px solid #F4F4F4;
        text-align: end;
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 1.5rem 2rem;
        height: 3.5rem;

        &-read {
            font-size: 1.4rem;
            flex: 0 0 30%;
            letter-spacing: 0.5;
            font-weight: 500;
        }

        &-icon {
            margin-right: 1.5rem;
            flex: 1;
            height: 2rem;
            width: 2rem;
            fill: currentColor;
        }
    }
}