.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        border: none;
        padding: 1rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all 0.2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
          }

        &::-webkit-input-placeholder {
            font-weight: 100;
         }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-darkest-gray;
    }
}