.articles {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 5rem;
    grid-auto-rows: 12.5rem;
}

.post {
    grid-row: span 2;
}

.feature {
    grid-row: span 4;
}
